<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CineApp{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/estilos.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
</head>
<body>
    <video autoplay muted loop playsinline id="bg-video">
        <source src="{{ url_for('static', filename='assets/img/movieIntro.mp4') }}" type="video/mp4">
    </video>

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
</body>
</html>
 


