/*
Custom Css
*/

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}



.bg-overlay {
    background-color: rgba(255, 255, 255, 0.7); /* Blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Opcional: sombra sutil */
}
